@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.titulo{
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    font-weight: 400;
    line-height: 69.65px;
    text-align: center;    
    color:rgba(142, 107, 50, 0.4);
}

.botonesPrincipales{
    width: 300px;
    height: 63px;
    border-radius: 20px;
    border: 1px black solid;
    background-color:#DBBD6B66; 
    font-family: 'Inter', sans-serif; /* Cambia 'p' a cualquier otro selector según lo necesites */
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
}

.botones{

    display: flex;
    width: 80%;
    justify-content: space-between; 
}

.seccionPrincipal{
    display: flex;
    flex-direction: column;
    height: 490px;
    align-items: center;
    justify-content: center;
    gap:150px;
}

.tituloVolver{
    font-family: 'Inter', sans-serif; /* Cambia 'p' a cualquier otro selector según lo necesites */
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
    color:#565656;
    text-decoration: underline; /* Subrayar todos los enlaces */
    width: 100%;
    display: flex;
    padding-left: 15%;
   
}

.divTituloAgregar{
    width: 864px;
    height: 80px;
    border-radius: 30px;
    opacity: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.tituloAgregar{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    display: flex;
    justify-content: center;     /* Centra horizontalmente */
    align-items: center;
    padding-top: 2%;
}

.registrarProducto{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;   
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.inputsFormulario{
    padding: 5px 30px; /* 10px arriba y abajo, 20px a los lados */
    background-color: transparent; /* Sin color de fondo */
    outline: none; 
}

.botoneRegistrar{
    width: 200px;
    height: 43px;
    border-radius: 20px;
    border: 1px black solid;
    background-color:#DBBD6B66; 
    font-family: 'Inter', sans-serif; /* Cambia 'p' a cualquier otro selector según lo necesites */
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
}

.mensajeMovil{
    display: none; /* Mensaje de móvil oculto */
}

.botonesEliminar, .botonesEditar{
    background-color: #000000;
    color: white;
    padding: .5rem 1rem;
    margin-left: 2rem;
    border-radius: .3rem;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: center;
    margin: 10px;
}

.botonesEliminar{
    background-color: #8D3434CC;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto; /* Centra la tabla horizontalmente */    
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.mensajeForm{
    font-family: 'Inter', sans-serif; /* Cambia 'p' a cualquier otro selector según lo necesites */
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
}



/* Cuando la pantalla es de 900px o menos */
@media (max-width: 900px) {
    .seccionPrincipal{
        display: none; /* Oculta el mensaje de escritorio */
    }

    .mensajeMovil{
        display: block; /* Muestra el mensaje de móvil */
        font-family: 'Inter', sans-serif; /* Cambia 'p' a cualquier otro selector según lo necesites */
        font-size: 30px;
        font-style: italic;
        font-weight: 600;
        line-height: 19.36px;
        text-align: center;
        height: 450px;
        display: flex;                /* Activa Flexbox */
        justify-content: center;      /* Centra horizontalmente */
        align-items: center;          /* Centra verticalmente */
        line-height: 1.5; /* Espaciado entre líneas */
    }
}