.manten {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.mantenimiento-img {
    width: 100%; /* La imagen ocupará el 100% del contenedor */
    max-width: 800px; /* Limita el tamaño máximo en pantallas grandes */
    height: auto; /* Mantiene la proporción de la imagen */
}

@media (min-width: 600px) and (max-width: 1024px) {
    .mantenimiento-img {
      max-width: 600px; /* Ajusta el tamaño máximo en tablets */
    }
}

/* Media query para dispositivos móviles (pantallas pequeñas) */
@media (max-width: 600px) {
.mantenimiento-img {
    max-width: 300px; /* Ajusta el tamaño máximo en móviles */
}
}