.registro {
    margin-top: 10px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
}

.title-form {
    font-family: Kaushan Script;
    font-size: 40px;
    color: #d2c4ad;
}

.btn-c {
    width: 150px;
    height: 39px;
}


label {
    font-weight: bold;
    padding-right: 50px;
}

.img-reg {
    width: 100px;
    height: 80px;
}

/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
} */

/* .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
} */